html
{
    height: 100vh;
}

body
{
    margin:0;
    text-align: center;
}

h2
{
    padding-top:5rem;
}


.container-fluid
{
    padding: 7% 10%;
}

.img
{
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.list
{
    text-decoration: none;
}